/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background-color: #cca553;
}
h1{
    color: #7f5a0c;
    font-weight: bold;
    text-align: center;
    background: #dcc289;
    padding: 3px;
    display: block;
    
}
.item{
    font-size: large;

}
.pomo{
    font-size: medium;
    color: #292b30;
}
li{
    margin-top: 25px;
}
li:hover{
    background-color: #d6b776;
    border: none;
    padding: 7px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
 }
#add-new-todo-button{
    background: #7f5a0c;
    border:none;
    padding:5px 20px;
 }
 
 html{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background-color: #cca553;
}
h2{
    color: #7f5a0c;
    font-weight: bold;
    text-align: center;
    background: #dcc289;
    padding: 3px;
    display: block;
    
}