       <h1> To-Do List </h1>
           <ol>
            <li>
                <input type= "checkbox">
                <a href = "show/1">
                    <span class= "item"> English Homework - </span>
                    <span class= "pomo"> 2 Pomodoros </span>
                </a>
            </li>
            <li>
                    <input type= "checkbox">
                <a href = "show/2">
                    <span class= "item"> Math Homework - </span>
                    <span class= "pomo"> 4 Pomodoros </span>
                </a>
            </li>
            <li>
                    <input type= "checkbox"> 
                <a href = "show/3">
                    <span class= "item"> Science Homework - </span>
                    <span class= "pomo"> 3 Pomodoros </span>
                </a>
            </li>
            </ol>
           <br>
           <div id = "new-todo-block">
           <form action="/action_page.php">
To-do: <input id = "new-todo-description" class = "text-input" type = "text" placeholder = "To-Do Description">
Time: <input id = "new-pomo-estimate" class = "text-input" type = "number" placeholder = "Number of Pomodoros">
<br>
<br>
<input id ="add-new-todo-button" type = "button" type = "submit" value="Add New To-Do">
</form>
</div>