<h2>Add a new todo </h2>

<form action="/todo/create">
    To-do:<input id = "new-todo-description" name = "description" class = "text-input" type = "text" placeholder = "To-Do Description">
    Time: <input id = "new-pomo-estimate" name = "pomodoro_estimate" class = "text-input" type = "number" placeholder = "Number of Pomodoros">
    <input id ="add-new-todo-button" type = "submit" value="Add New To-Do">
</form>