
        <h3>Todo #<%= params[:id] =%></h3>
        <h2>To-Do</h2>
        <span class= "item"> <%=  @todo_description =%> -</span> 
        <span class= "time"> <%= @todo_pomodoro_estimate =%> Pomodoros </span>
        <a href = "https://todoapp-abtaylor.c9users.io/todo/index"> Back </a>
  
  