
        <h3>Todo #<%= params[:id] =%></h3>
        <h2>To-Do</h2>
        <p>
        <span class= "item"> <%=  @todo.description =%> </span> 
        <br>
        <span class= "time"> <%= @todo.pomodoro_estimate =%> Pomodoros </span>
        </p>
        <br>
        <a href = "https://todoapp-abtaylor.c9users.io/todo/index">
                <input id ="back" type = "button" type = "submit" value="Back">
        </a>
       
  